header{
    background-color: rgb(107, 161, 241);
    background-image: url(img/pattern.png);
    }

#logo{
    align-items: left;
    height: 70px;
    padding-top: 20px;
    
}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}

.subtitle{
    font-family: 'Roboto Slab', serif;
    color: darkgray;
    
}

.blue{
    color: rgb(59, 189, 233);
    
}

.yellow{
    background-color: yellow;
}

table{
    border-collapse: collapse;
}

th{
    color: white;
}

.first-row{
    background-color: rgb(91, 199, 241);
}

.row{
    background-color: rgb(170, 229, 248);
}

.container{
    background-image: url(img/monitor.jpg);
    position:absolute;
}

.firstpic{
    background-image: url(img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 210px;
    color: white;
}

.secondpic{
    background-image: url(img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 210px;
    color: white;

}



